@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
    /* Colors */
    --primary-color: #E89023;
    --primary-light-color: #FFD6D7;
    --yellow-color: #FEC65E;
    --white-color: #FFFFFF;
    --black-color: #323232;
    /* Font & Typography */
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 58px;
    --h1-font-size: 45px;
    --normal-font-size: 18px;
    --small-font-size: 16px;
    --smaller-font-size: 14px;
    /* Font Weight */
    --font-semibold: 600;
    --font-medium: 500;
  }


.text-primary {
  color: var(--primary-color) !important;
}

.btn-custom {
    background-color: #E89023; /* Warna latar belakang */
    color: #fff; /* Warna teks */
    border: none; /* Tanpa border */
}

.btn-custom:hover {
    background-color: #cd7203; /* Warna latar belakang saat hover */
    color: #fff;
}

/* Home */
section.home {
    padding-top: 1rem;
  }
  section.home .text-home-bold {
    font-family: var(--body-font);
    font-size: var(--biggest-font-size);
    line-height: 87px;
  }
  section.home .text-home-reguler {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    line-height: 27px;
  }
